.selection-button {
    /* border: 1px solid white !important; */
    min-height: 30vh !important;
    min-width: 30vh !important;
    border-radius: 0 !important;
    margin-block-end: 1rem;
}

.pending:hover {
    background-color: rgba(184, 138, 14, 0.2);
}

.accepted:hover {
    background-color: rgba(13, 114, 43, 0.2);
}

.rejected:hover {
    background-color: rgba(104, 27, 27, 0.2);
}