@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500;700&display=swap');

@font-face {
    font-family: "Circular";
    src: url(/assets/fonts/lineto-circular-pro-book.ttf);

}

@font-face {
    font-family: "Circular";
    src: url(/assets/fonts/lineto-circular-pro-medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Circular";
    src: url(/assets/fonts/lineto-circular-pro-bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Circular";
    src: url(/assets/fonts/lineto-circular-black.ttf);
    font-weight: 800;
}

#root {
    min-height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

:root {
    --frost: #fcfcff;
    --link: #b8b8b8;
    --link-hover: rgb(255, 235, 59);;
}

body {
    background-color: #424242;
    color: var(--frost);
    font-family: 'Barlow', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

a {
    color: var(--link)
}

a:hover {
    color: var(--link-hover);
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.image-bg {
    z-index: -1;
    position: absolute;
    left: 0px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 880px) {
    .image-bg {
        height: 100%;
    }
}

.submit-bg {
    height: 100%
}

.cursor-pointer {
    cursor: pointer;
}

.hidden-input {
    width: 0px;
    height: 0px;
}

.file-picker {
    transition: all 0.2s ease-in-out;
    height: 4em !important;
}

.file-picker > span {
    opacity: 0.7;
}

.hidden-input:focus + .file-picker > span,
.file-picker:hover > span {
    opacity: 1
}

.hidden-input:focus + .file-picker,
.file-picker:hover {
    color: var(--link-hover);
    opacity: 1;
    border: 2px solid var(--link-hover) !important
}